{% extends 'base.html.twig' %}


{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Warframe Shawzinu</h1>
            <p class="lead text-mutes">
                {%trans%}Bienvenue sur warframe shawzinu, le site référençant les différentes compositions réalisées par des joueurs, qu'elles soient des réalisations personnelles ou des reprises de grands titres vous aurez de tout.{%endtrans%}
            </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
          
            <div class="col-sm">
                <iframe src="https://www.youtube.com/embed/1hF3y4eZ6D0" frameborder="0"></iframe>
            </div>
            <div class="col-sm">
                <iframe src="https://www.youtube.com/watch?v=sWKuACdRPpc" frameborder="0"></iframe>
            </div>
            <div class="col-sm">
                <iframe src="https://www.youtube.com/watch?v=KJ_gAn_Tu8U" frameborder="0"></iframe>
            </div>
        </div>
    </div>

{% endblock %}
