{% extends 'base.html.twig' %}


{% block body %}

    <div class="jumbotron">
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warframe shawzinu</strong>
                est un site crée des fans et non par
                <strong>Digital Extremes</strong>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h1 class="display-3">Bienvenue Tenno</h1>
            <p>Vous aussi faites part de vos créations musicales au monde entier . Shawzaaa !
            </p>
        </div>
    </div>

    <div class="container">
        <dir class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1hF3y4eZ6D0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </dir>
    </div>

{% endblock %}
