{% extends 'base.html.twig' %}

{% block body %}

<table class="table-responsive-xl table-dark">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Difficulter</th>
      <th scope="col">Date</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ musique.title }}</th>
      <td><a href="#" class="card-link">#Users</a></td>
      <td>{{ musique.description }}</td>
      <td>{{ musique.created | date('d/m/Y') }}</td>
      <td>{{ musique.code }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}